{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Network</a>
        <div>
          <ul class="navbar-nav mr-auto">
            <div class="authenticated">
                <li class="nav-item">
                    <a class="nav-link" id='username' href="#"></a>
                </li>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">All Posts</a>
            </li>
            <div class="authenticated">
                <li class="nav-item">
                    <a class="nav-link" id='following' href="#">Following</a>
                </li>
            </div>
            <div class="authenticated">
                <li class="nav-item">
                    <a class="nav-link" id="logout">Log Out</a>
                </li>
            </div>
            <div class="unauthenticated">
                <li class="nav-item">
                    <a class="nav-link" id="login">Log In</a>
                </li>
            </div>
            <div class="unauthenticated">
                <li class="nav-item">
                    <a class="nav-link" id="register">Register</a>
                </li>
            </div>
          </ul>
        </div>
      </nav>
    
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>